<div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(<%= @company.logo_url %>)">
  <h1 class="text-center"><%= @company.name %> Engineers</h1>
</div>


<%= form_tag company_path(@company), method: :get do %>
  <%= text_field_tag :gh_nickname,
    params[:gh_nickname],
    class: "form-control",
    placeholder: "Add an engineer by their gh username"
  %>
  <%= submit_tag "add", class: "btn btn-primary" %>
<% end %>

<div class="cards">
  <% @company.engineers.elements.each do |info| %>
    <div class="card-trip">
      <div class="card-trip-infos">
        <div>
          <h2><%= info["name"] %></h2>
          <p><%= info["bio"].blank? ? "..does not have a bio yet.." : info["bio"] %></p>
        </div>
        <h2 class="card-trip-pricing"><%= info["public_repos"] %></h2>
        <img src="https://kitt.lewagon.com/placeholder/users/<%= info["username"] %>" class="card-trip-user avatar-bordered" />
      </div>
    </div>
  <% end %>
</div>
