<div class="card-category mt-4" style="background-image: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url(<%= asset_path 'retreat.JPG' %>)">
  <h1 class="text-center">Le Wagon Engineers</h1>
</div>


<div class="mt-4">
  <%= simple_form_for @engineer, remote: true do |f|%>
    <%= f.input :gh_nickname, label: false, placeholder: "GitHub username" %>
    <%= f.submit class: "btn btn-danger w-100"%>
  <% end %>
</div>

<div class="cards">
  <% @engineers.each do |engineer| %>
    <%= render 'engineer', engineer: engineer %>
  <% end %>
</div>
